@charset "utf-8";
#gridPanel{
 width:600px;
 height:600px;
 /*margin:0 auto;*/
 margin-left: 341px;
 margin-top: -40px;
 background-color:#bbada0;
 border-radius:10px;
 position:relative;
 justify-content: space-around;
 display: flex;
 flex-wrap: wrap;
 
 
}
.grid,.cell{width:100px; height:100px;
 border-radius:6px;
 min-width: 100px;
}
.grid{background-color:#ccc0b3;
 margin:6px 6px 6px 6px;
 float:left;
}
.cell{
 /*margin:16px 0 0 16px;
 float:left;
 position:relative;
 z-index:10;
 top:-464px;
 left:0;*/
 position:absolute;
 text-align:center;
 line-height:100px;
 font-size:60px;
}
#c00,#c01,#c02,#c03{top:16px;}
#c10,#c11,#c12,#c13{top:132px;}
#c20,#c21,#c22,#c23{top:248px;}
#c30,#c31,#c32,#c33{top:364px;}
#c40,#c41,#c42,#c43{top:480px;}
#c00,#c10,#c20,#c30{left:16px;}
#c01,#c11,#c21,#c31{left:132px;}
#c02,#c12,#c22,#c32{left:248px;}
#c03,#c13,#c23,#c33{left:364px;}
#c04,#c14,#c24,#c34{left:480px;}
.n2{background-color:#eee3da}
.n4{background-color:#ede0c8}
.n8{background-color:#f2b179}
.n16{background-color:#f59563}
.n32{background-color:#f67c5f}
.n64{background-color:#f65e3b}
.n128{background-color:#edcf72}
.n256{background-color:#edcc61}
.n512{background-color:#9c0}
.n1024{background-color:#33b5e5}
.n2048{background-color:#09c}
.n4096{background-color:#a6c}
.n8192{background-color:#93c}
.n8,.n16,.n32,.n64,
.n128,.n256,.n512,
.n1024,.n2048,.n4096,.n8192{color:#fff}
.n1024,.n2048,.n4096,.n8192{font-size:40px}
 / * Отображение партитуры * /
p{width:480px; margin:0 auto;
 font-family:Arial;font-weight:bold;
 font-size:40px; padding-top:15px;
}
/*Game Over*/
#gameOver{width:100%; height:100%;
 position:absolute; top:0; left:0;
 display:none;
}
#gameOver>div{width:100%; height:100%;
 background-color:#555; opacity:.5;
}
#gameOver>p{width:300px; height:200px;
 border:1px solid #edcf72;
 line-height:1.6em; text-align:center;
 background-color:#fff; border-radius:10px;
 position:absolute; top:50%; left:50%;
 margin-top:-135px; margin-left:-150px;
}
.button{padding:10px; border-radius:6px;
 background-color:#9f8b77; color:#fff;
 cursor:pointer;
}

#button_right {
    position: absolute;
    left: 991px;
    top: 394px;
    width: 130px;
    height: 100px;
    border-radius: 6px;
    min-width: 130px; 
    background-color: #bbada0;
    
}

#button_left {
position: absolute;
 left: 167px;
 top: 394px;
    width: 130px;
    height: 100px;
    border-radius: 6px;
    min-width: 130px; 
    background-color: #bbada0;
}

#button_up {
 position: absolute;
 left: 584px;
 top: 16px;
 width: 130px;
 height: 100px;
 border-radius: 6px;
 min-width: 130px; 
 background-color: #bbada0;
}

#button_down {
position: absolute;
 left: 584px;
 top: 790px;
 width: 130px;
 height: 100px;
 border-radius: 6px;
 min-width: 130px; 
 background-color: #bbada0;
}
#button_up:hover {
    background-color: #dbd1c7;
}

#button_up:active {
    background-color: #77716b;
}

#button_down:hover {
    background-color: #dbd1c7;
}

#button_down:active {
    background-color: #77716b;
}

#button_left:hover {
    background-color: #dbd1c7;
}

#button_left:active {
    background-color: #77716b;
}

#button_right:hover {
    background-color: #dbd1c7;
}

#button_right:active {
    background-color: #77716b;
}

#win_game {
    position: relative;
    margin-top: -4px;
   }

#elem {
    position: relative;
    top: 17px;
}

@media  (max-width:375px) {
    .statistic {
        position: relative;
        text-align: center;
        
    }
    #win_game {
        position: relative;
        text-align: center;
        left: 83px;
        
    }
    #gridPanel {
        transform: scale(0.5);
        margin-left: -127px;
    }
    #button_down {
        left: 114px;
        top: 820px;
    }
    #button_up {
        left: 114px;
        top: 620px;
    }
    #button_left {
        left: 187px;
        top: 720px;
    }
    #button_right {
        left: 34px;
        top: 720px;
    }
}